<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="https://cdn0.iconfinder.com/data/icons/email-38/32/user_boss_person_cloud-512.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Come on, try it!</ion-card-subtitle>
      <ion-card-title>Welcome to Generatos User</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>push on button but show one user new</p>
    </ion-card-content>
  </ion-card>
</ion-content>
